# Solution: First make sure that the following modules are installed:

In [ ]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]

# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [ ]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

sum = 0
for sqrt_value in generator:
    sum += sqrt_value
    print(sqrt_value)
print("####")
print(sum)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
####
8.382332347441762

In [ ]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        if n == 13:
          yield n ** 0.5
        n += 1

# Example usage:
limit = 13
generator = square_root_generator(limit)
# sum = 0
for sqrt_value in generator:
    # sum +=sqrt_value
    print(sqrt_value)

# print(sum)

3.605551275463989

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [ ]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

sum_age_people_1 = 0
for person in people_1():
    print(person)
    sum_age_people_1 += person['Age']

print(sum_age_people_1)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

sum_age_people_2 = 0
for person in people_2():
    print(person)
    sum_age_people_2 += person['Age']
print(sum_age_people_2)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
140
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}
213

In [ ]:
import dlt
# define the connection to load to.
# We now use duckdb, but you can switch to Bigquery later
generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='generators')

# we can load any generator to a table at the pipeline destnation as follows:
info = generators_pipeline.run(people_1(),
										table_name="people_table",
										write_disposition="replace")

# we can load the next generator to the same
info = generators_pipeline.run(people_2(),
										table_name="people_table",
										write_disposition="append")

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

Pipeline dlt_colab_kernel_launcher load step completed in 0.33 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:////content/dlt_colab_kernel_launcher.duckdb location to store data
Load package 1707700867.5531669 is LOADED and contains no failed jobs

In [ ]:
import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n people_table table below:")

folks = conn.sql("SELECT * FROM people_table").df()
display(folks)

sum_ages = conn.sql("SELECT SUM(AGE) FROM people_table").df()
display(sum_ages)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people_table        │
└─────────────────────┘

 people_table table below:

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1707699905.3848407  3WCMPQVJH98Qug       None
1    2  Person_2   27  City_A  1707699905.3848407  +QXITX6HuR3r6g       None
2    3  Person_3   28  City_A  1707699905.3848407  RmniiyXA/jIpIw       None
3    4  Person_4   29  City_A  1707699905.3848407  Y+UuuwRp7kFEbg       None
4    5  Person_5   30  City_A  1707699905.3848407  i4EgyA1PddarYA       None
5    3  Person_3   33  City_B  1707699906.2309191  d2P7myrbfcQ31A      Job_3
6    4  Person_4   34  City_B  1707699906.2309191  0D2RzVYHCt7/vw      Job_4
7    5  Person_5   35  City_B  1707699906.2309191  6kq1ilAhlvmHPA      Job_5
8    6  Person_6   36  City_B  1707699906.2309191  NQAxsabyJLAIlw      Job_6
9    7  Person_7   37  City_B  1707699906.2309191  a0Ar16wqWs/nYg      Job_7
10   8  Person_8   38  City_B  1707699906.2309191  BeOIt7GG96H/6A      Job_8

   sum(AGE)
0     353.0

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

In [ ]:
import dlt
# define the connection to load to.
# We now use duckdb, but you can switch to Bigquery later
generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='generators')

# we can load any generator to a table at the pipeline destnation as follows:
info_ii = generators_pipeline.run(people_1(),
										table_name="people_table_ii",
										write_disposition="replace")

# we can load the next generator to the same
info_ii = generators_pipeline.run(people_2(),
										table_name="people_table_ii",
										write_disposition="merge",
										primary_key='id')

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info_ii)

Pipeline dlt_colab_kernel_launcher load step completed in 0.59 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:////content/dlt_colab_kernel_launcher.duckdb location to store data
Load package 1707701208.9842236 is LOADED and contains no failed jobs

In [ ]:
import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n people_table table below:")

folks = conn.sql("SELECT * FROM people_table_ii").df()
display(folks)

sum_ages = conn.sql("SELECT SUM(AGE) FROM people_table_ii").df()
display(sum_ages)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people_table        │
│ people_table_ii     │
└─────────────────────┘

 people_table table below:

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A   1707701208.165709  sZkAC5f3aNMYEA       None
1   2  Person_2   27  City_A   1707701208.165709  yAY+E6KNJs+/Mg       None
2   5  Person_5   35  City_B  1707701208.9842236  8mWhKYuLpVklpg      Job_5
3   8  Person_8   38  City_B  1707701208.9842236  XHTsoIsSe2bAhg      Job_8
4   7  Person_7   37  City_B  1707701208.9842236  JI+nd1uH+731qA      Job_7
5   4  Person_4   34  City_B  1707701208.9842236  /jiy9x9kIkY/8A      Job_4
6   3  Person_3   33  City_B  1707701208.9842236  TUzkHxiCayUdeg      Job_3
7   6  Person_6   36  City_B  1707701208.9842236  YZWWnRudvvZkBQ      Job_6

   sum(AGE)
0     266.0

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX